"" Source your .vimrc
source ~/.vimrc

""" Common settings -----------------------------------------------------------
let mapleader=" "

set ideajoin
set easymotion
set NERDTree
"set showmode
set highlightedyank
set peekaboo
set commentary " gcc and gc<action> mappings.


" -----
" changes mockito every with MockK
let @m = '^wldi)aevery{}jkhp^df)f}ldf(ire^H^H return sjkA^Hjkjkbi^Hjkla jkj^'
let @n = 'wlci)a^H^HP^H{jkpA}jk' " changes mockito verify with MockK

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=10
set incsearch " Do incremental searching.

map Q gq " Don't use Ex mode, use Q for formatting.

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t

""" MY MAPPINGS ----------------------------------------------------------------
"[V]im [R]eload [M]appings
nmap <leader>vrm <Action>(IdeaVim.ReloadVimRc.reload)

""" RUN ACTIONS ----------------------------------------------------------------
nmap <leader>rb <Action>(RebuildGradleProject)
nmap <leader>rc :action RunConfiguration<CR>
nmap <leader>ry :action Android.SyncProject<CR>
"nmap <leader>ra :action AvailableDevices<CR> doesn't work
nmap <leader>rc <Action>(RunClass)
nmap <leader>rx <Action>(ContextRun)
nmap <leader>rr <Action>(Rerun)
nmap <leader>rF <Action>(RerunFailedTests)
nmap <leader>rs <Action>(Stop)
nmap <leader>rC <Action>(ChooseRunConfiguration)
nmap <leader>rm <Action>(RunMenu)

""" EDITOR ---------------------------------------------------------------------
nmap gi <Action>(GotoImplementation)
nmap gt <Action>(GotoTest)
nmap ga <Action>(Annotate)

" Tool Windows
nmap <leader>tw <Action>(ToolWindowsGroup)
nmap <leader>th <Action>(HideAllWindows)
nmap <leader>tv <Action>(ActivateBuildVariantsToolWindow)
nmap <leader>tl <Action>(ActivateLogcatToolWindow)
nmap <leader>ti <Action>(ActivateAppInspectionToolWindow)
nmap <leader>tp <Action>(ActivateBitbucketPullRequestsToolWindow)

" [C]ode
map <leader>f <Action>(ReformatCode)
map <leader>rn <Action>(RenameElement)
nmap <leader>ca <Action>(ShowPopupMenu)
nmap <leader>cl <Action>(Refactorings.QuickListPopupAction)
nmap <leader>sdf <Action>(ToggleDistractionFreeMode)

" [C]hange [TH]eme
nmap <leader>cth <Action>(ChangeLaf)

" Font
nmap <leader>ef= :action EditorIncreaseFontSizeGlobal<CR>
nmap <leader>ef- :action EditorDecreaseFontSizeGlobal<CR>

"" NAVIGATION -----------------------------------------------------------------
nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)
nmap [m <Action>(MethodUp)
nmap ]m <Action>(MethodDown)
nmap ]c :action JumpToNextChange<CR>
nmap [c :action JumpToLastChange<CR>

nmap <leader>uu <Action>(FindUsages)
nmap <leader>to :action ActivateTODOToolWindow<CR>
nmap <leader>su <Action>(ShowUsages)
nmap <leader>ss <Action>(FileStructurePopup)
nmap <leader>sd <Action>(ActivateProblemsViewToolWindow)
nmap <leader>sa :action GotoAction<CR>
nmap <leader>sf :action GotoFile<CR>
nmap <leader>sc :action GotoClass<CR>

" split nav
nmap <S-l> :action NextSplitter<CR>
nmap <S-h> :action PrevSplitter<CR>
"Close ta[B]s that are n[O]t selected
nmap <leader>bo :action Unsplit<CR>


"" EASYMOTION -----------------------------------------------------------------
" Move to word
" map <leader>w <Plug>(easymotion-bd-w)

" Incremental search
map / <Plug>(easymotion-s)

""" IDEAVIM HARPOON ------------------------------------------------------------
map <leader>hs <action>(ShowHarpoon)
map <leader>ha <action>(AddToHarpoon)
map <leader>1 <action>(GotoHarpoon1)
map <leader>2 <action>(GotoHarpoon2)
map <leader>3 <action>(GotoHarpoon3)
map <leader>4 <action>(GotoHarpoon4)
map <leader>5 <action>(GotoHarpoon5)
map <leader>h1 <action>(SetHarpoon1)
map <leader>h2 <action>(SetHarpoon2)
map <leader>h3 <action>(SetHarpoon3)
map <leader>h4 <action>(SetHarpoon4)
map <leader>h5 <action>(SetHarpoon5)
nmap <leader>e :NERDTreeToggle<CR>


